.AnchorWelcome {
    -fx-background-image: url("../../resource/OtherImagesInGame/welcomeGame.jpg");
    -fx-background-size: cover;
}

.AnchorSignUp {
    -fx-background-image: url("../../resource/OtherImagesInGame/yugiohSignUp.jpg");
    -fx-background-size: cover;
}

.AnchorLogin {
    -fx-background-image: url("../../resource/OtherImagesInGame/yugiohLogin.png");
    -fx-background-size: cover;
}

.AnchorMainMenu {
    -fx-background-image: url("../../resource/OtherImagesInGame/MainMenuYugioh.jpg");
    -fx-background-size: cover;
}

.AnchorShowAllDeck {
    -fx-background-image: url("../../resource/OtherImagesInGame/showAllDeck.jpg");
    -fx-background-size: cover;
}

.ShopAnchorPane {
    -fx-background-image: url(../../resource/pics/50051.png);
    -fx-background-size: cover;
}

.AnchorChooseDuel {
    -fx-background-image: url("../../resource/OtherImagesInGame/chooseDuel.jpg");
    -fx-background-size: cover;
}

.imageView {
    -fx-background-image: url("../../resource/OtherImagesInGame/rock-paper-scissors.jpg");
}

.normalField {
    -fx-background-image: url(../../resource/Field/fie_normal.jpg);
    -fx-background-size: cover;
}

.ProfileBackground {
    -fx-background-image: url(../../resource/profile.jpg);
    -fx-background-size: cover;
}

.paneOfLifePoint {
    -fx-background-color: #9481bf;
    -fx-background-size: cover;
}

.graveYard {
    -fx-background-image: url(../../resource/Icons/GUI_T_WCS_Window2.dds.png);
    -fx-background-size: cover;
}

.createCardAnchorPane {
    -fx-background-image: url("../../resource/OtherImagesInGame/createCard.jpeg");
    -fx-background-size: cover;
}

.createMonsterPane{
    -fx-background-image: url("../../resource/OtherImagesInGame/createCard.jpeg");
    -fx-background-size: cover;
}

