.AnchorWelcome {
    -fx-background-image: url("../View/welcomeGame.jpg");
    -fx-background-size: cover;
}

.AnchorSignUp {
    -fx-background-image: url("../View/yugiohSignUp.jpg");
    -fx-background-size: cover;
}

.AnchorLogin {
    -fx-background-image: url("../View/yugiohLogin.png");
    -fx-background-size: cover;
}

.AnchorMainMenu {
    -fx-background-image: url("../View/MainMenuYugioh.jpg");
    -fx-background-size: cover;
}

.AnchorShowAllDeck {
    -fx-background-image: url("../View/showAllDeck.jpg");
    -fx-background-size: cover;
}

.ShopAnchorPane {
    -fx-background-image: url(../pics/50051.png);
    -fx-background-size: cover;
}

.AnchorChooseDuel {
    -fx-background-image: url("../View/chooseDuel.jpg");
    -fx-background-size: cover;
}

.imageView {
    -fx-background-image: url("../View/rock-paper-scissors.jpg");
}

.normalField {
    -fx-background-image: url(../../resource/Field/fie_normal.jpg);
    -fx-background-size: cover;
}
