.PasswordField {
    -fx-background-color: #614a92;
    -fx-background-radius: 45;
    -fx-background-position: center;
}

.UsernameTextField {
    -fx-background-color: #614a92;
    -fx-background-radius: 45;
    -fx-background-position: center;
}

.NicknameTextField {
    -fx-background-color: #614a92;
    -fx-background-radius: 45;
    -fx-background-position: center;
}

.usernameLogin {
    -fx-background-color: #384e5a;
    -fx-background-radius: 45;
    -fx-background-position: center;
}

.chooseDuelTextFiled{
    -fx-prompt-text-fill: black;
    -fx-background-color: #ffffff;
    -fx-background-radius: 25;
    -fx-background-position: center;
}

.passwordLogin {
    -fx-background-color: #384e5a;
    -fx-background-radius: 45;
    -fx-background-position: center;
}